<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OperationSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="OperationSoap11Binding1" />
                <binding name="AuthorizeSoap11Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="AuthorizeSoap11Binding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OperationSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="AuthorizeSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.135.35:8443/services/t/1.1/Authorize.AuthorizeHttpsSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="AuthorizeSoap11Binding"
                contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpsSoap11Endpoint" />
            <endpoint address="http://192.168.135.35:8480/services/t/1.1/Authorize.AuthorizeHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="AuthorizeSoap11Binding1"
                contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpSoap11Endpoint" />
            <endpoint address="http://192.168.135.35:8480/services/t/1.1/Authorize.AuthorizeHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="AuthorizeSoap12Binding"
                contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpSoap12Endpoint" />
            <endpoint address="https://192.168.135.35:8443/services/t/1.1/Authorize.AuthorizeHttpsSoap12Endpoint"
                binding="customBinding" bindingConfiguration="AuthorizeSoap12Binding"
                contract="AuthorizeService.AuthorizePortType" name="AuthorizeHttpsSoap12Endpoint" />
            <endpoint address="https://192.168.135.35:8443/services/t/decidir.net/Operation.OperationHttpsSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="OperationSoap11Binding"
                contract="OperationService.OperationPortType" name="OperationHttpsSoap11Endpoint" />
            <endpoint address="http://192.168.135.35:8480/services/t/decidir.net/Operation.OperationHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="OperationSoap11Binding1"
                contract="OperationService.OperationPortType" name="OperationHttpSoap11Endpoint" />
            <endpoint address="https://192.168.135.35:8443/services/t/decidir.net/Operation.OperationHttpsSoap12Endpoint"
                binding="customBinding" bindingConfiguration="OperationSoap12Binding"
                contract="OperationService.OperationPortType" name="OperationHttpsSoap12Endpoint" />
            <endpoint address="http://192.168.135.35:8480/services/t/decidir.net/Operation.OperationHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="OperationSoap12Binding"
                contract="OperationService.OperationPortType" name="OperationHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>